.center {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 45vh;
  left: 50vw;
  text-align: center;
}

.center h1 {
  font-size: 3rem;
}

.error {
  color: #555;
  font-size: small;
}

.mainContent {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 1.5rem;
  margin-top: 3rem; /* navbar height */
}

@media screen and (max-width: 600px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}
