.classicInput {
  display: flex;
  flex-direction: row;
}

.classicInput > input,
.classicInput > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.2rem;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

.classicInput > p {
  margin: 0;
  font-weight: bold;
  color: #555;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.select options {
  padding: 0.2rem 0;
}

.date {
  width: 20%;
  text-align: center;
}

.year {
  width: 40%;
  text-align: center;
}

.classicInput > input::-webkit-outer-spin-button,
.classicInput > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox */
i.classicInput > input[type='number'] {
  -moz-appearance: textfield;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.calendarHead {
  margin: auto;
  width: 20rem;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
}

.calendarHead p {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.calendarHead button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarHead button:hover {
  cursor: pointer;
  background: #eee;
  border-radius: 999px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem 0.5rem;
  border: #aaa solid 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.2rem;
}

.calendarCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 0.7rem;
  background-color: transparent;
  transition: background-color 100ms linear;
}

.calendarCell:hover {
  cursor: pointer;
  border-radius: 0.7rem;
  background-color: #dfdfdf;
}

.calendarCellSelected {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  background: #c4e8ff;
  width: 3rem;
  height: 3rem;
}

.weekend {
  color: #ff4f4f;
}
