.container {
  width: 300px;
  height: calc(100vh - 6rem);
  overflow-y: auto;
  margin: 0.5rem;
  padding: 0.5rem;
}

.container * {
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
  }
}
