.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-bottom: solid #bbb 1px;
  background-color: white;
  z-index: 10;
  width: 100vw;
  height: 3rem;
}

.container > *:not(button) {
  margin-right: 20px;
  height: min-content;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.right > * {
  margin-left: 10px;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-size: 30px 30px;
}

.nameText {
  margin-top: 0;
  margin-bottom: 0;
}

.createEventButton {
  padding: 0rem 2rem;
  margin-left: 0.25rem;
  height: 2.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.createEventButton > svg {
  margin-right: 0.5rem;
}
