.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-bottom: solid #bbb 1px;
  background-color: white;
  z-index: 10;
  width: 100vw;
  height: 3rem;
  padding-left: 1rem;
}

.container > *:not(button) {
  margin-right: 20px;
  height: min-content;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.right > * {
  margin-right: 10px;
}

.nameText {
  margin-top: 0;
  margin-bottom: 0;
}

.createEventButton {
  padding: 0rem 2rem;
  margin-left: 0.25rem;
  height: 2.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.createEventButton > svg {
  margin-right: 0.5rem;
}

.createEventButton {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100vw;
    align-items: unset;
    height: unset;
    padding: 0.5rem;
  }

  .createEventButton {
    margin-left: 0;
    margin-top: 0.2rem;
    width: fit-content;
  }

  .right {
    margin-left: 0;
  }

  .right * {
    margin: 0.2rem 0.5rem 0.5rem 0;
  }
}
